{{ define "main" }}
<!--portfolio-->

<div class="container  wow fadeInUp" data-wow-delay="0" data-wow-duration="2s">
    <div class="row ">

        <div class="col-md-12">
            <div class="portfolio-nav-row">
                <div class="portfolio-nav left">
                    
                    <a href="/"><i class="fa fa-th-large"></i></a>
                    
                </div>
            </div>
            <div id="images" class="full-width text-center p-top-20">
                {{range $index, $element := .Params.img_full}}
                    
                    <img class="p-top-20" style="width: auto;max-height:600px;margin:auto;" src="{{$.Site.BaseURL}}{{ $element }}" alt="">
                 {{ end }}
                
            </div>
        </div>


        <div class="page-content wow fadeInUp" data-wow-delay="0.1" data-wow-duration="2s">
            <div class="col-md-6">
                <div class="heading-title-side-border text-left">
                    <h4 class="text-uppercase">{{.Title}}</h4>
                    <div class="title-border-container">
                        <div class="title-border"></div>
                    </div>
                </div>
                {{.Content}}
            </div>
            <div class="col-md-6">
                <ul class="portfolio-meta m-bot-30">
                    {{if .Params.dateFinished}}<li><span> Completed : </span>{{.Params.dateFinished}}</li>{{end}}
                    {{if .Params.materials}}<li><span> Medias : </span>{{range $index, $element := .Params.materials}}{{ $element }} {{ end }}</li>{{end}}
                    {{if .Params.fabric}}<li><span> Fabric : </span>{{range $index, $element := .Params.fabric}}{{ $element }} {{ end }}</li>{{end}}
                    <li><span> Share </span>  <a href="#"><i class="fa fa-facebook"></i></a>  <a href="#"><i class="fa fa-twitter"></i></a>  <a href="#"><i class="fa fa-google-plus"></i></a>  <a href="#"><i class="fa fa-pinterest"></i></a> 
                        <a href="#"><i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <div>
                    <a href="#" class="btn btn-small btn-rounded btn-dark-solid  "> Visit website </a>
                </div>

            </div>
        </div>

    </div>
</div>

<hr/>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="heading-title-alt text-left ">
                    <h4 class="text-uppercase">similar product</h4>
                    <span class="text-uppercase">Lid est laborum dolo rumes fugats untras.</span>
                </div>

                <!--portfolio carousel-->

                <div id="portfolio-carousel" class=" portfolio-with-title col-3 ">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <img src="assets/img/portfolio/01.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="assets/img/portfolio/01.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h4><a href="assets/img/portfolio/01.jpg" class="popup-link" title="lightbox view">perspiciatis unde omnis</a></h4>
                            <p><a href="#">category 1</a> , <a href="#">category 3</a> 
                            </p>
                        </div>
                    </div>

                    <div class="portfolio-item">
                        <div class="thumb">
                            <img src="assets/img/portfolio/02.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="assets/img/portfolio/02.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h4><a href="assets/img/portfolio/02.jpg" class="popup-link" title="lightbox view">denouncing pleasure</a></h4>
                            <p><a href="#">category 1</a> , <a href="#">category 3</a> 
                            </p>
                        </div>
                    </div>

                    <div class="portfolio-item">
                        <div class="thumb">
                            <img src="assets/img/portfolio/03.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="assets/img/portfolio/03.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h4><a href="assets/img/portfolio/03.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                            <p><a href="#">category 1</a> , <a href="#">category 3</a> 
                            </p>
                        </div>
                    </div>

                    <div class="portfolio-item">
                        <div class="thumb">
                            <img src="assets/img/portfolio/04.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="assets/img/portfolio/04.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h4><a href="assets/img/portfolio/04.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                            <p><a href="#">category 1</a> , <a href="#">category 3</a> 
                            </p>
                        </div>
                    </div>

                    <div class="portfolio-item">
                        <div class="thumb">
                            <img src="assets/img/portfolio/05.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="assets/img/portfolio/05.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h4><a href="assets/img/portfolio/05.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                            <p><a href="#">category 1</a> , <a href="#">category 3</a> 
                            </p>
                        </div>
                    </div>

                    <div class="portfolio-item">
                        <div class="thumb">
                            <img src="assets/img/portfolio/06.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="assets/img/portfolio/06.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h4><a href="assets/img/portfolio/06.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                            <p><a href="#">category 1</a> , <a href="#">category 3</a> 
                            </p>
                        </div>
                    </div>

                </div>

                <!--portfolio carousel-->

            </div>
        </div>
    </div>
</div>




<!--portfolio-->
{{ end }}