<footer id="footer" class="dark text-center short-pad footer-6">
        <div class="container-">
            <a href="{{$.Site.BaseURL}}" class="footer-logo">
                <img class="retina" src="{{$.Site.BaseURL}}/img/logo-dark@2x.png" alt="" />
            </a>
            <div class="social-link circle m-top-50 m-bot-50">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <div class="copyright-sub-title text-uppercase border-top">
                &copy; Copyright 2017. All right reserved.
            </div>
        </div>
    </footer>